.footer {

    padding: 50px 10% 25px;

    text-align: center;

    background: #020617;

    border-top: 1px solid rgba(255, 255, 255, .1);

}


.footer h3 {

    font-size: 30px;

    color: #38bdf8;

    margin-bottom: 10px;

}


.footer p {

    color: #94a3b8;

}


.footer-links {

    display: flex;

    justify-content: center;

    gap: 25px;

    margin: 25px 0;

}


.footer-links a {

    width: 45px;
    height: 45px;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 50%;

    background: #1e293b;

    color: #38bdf8;

    font-size: 22px;

    transition: .3s;

}


.footer-links a:hover {

    transform: translateY(-8px) rotate(360deg);

    box-shadow: 0 0 20px rgba(56, 189, 248, .5);

}


.footer-bottom {

    border-top: 1px solid rgba(255, 255, 255, .1);

    padding-top: 20px;

    margin-top: 30px;

}


.footer-bottom svg {

    color: #ef4444;

}