.terminal-section{
    padding:100px 10%;
}

.section-title{
    text-align:center;
    font-size:45px;
    color:#38bdf8;
    margin-bottom:50px;
}

.terminal{

    max-width:850px;

    margin:auto;

    background:#0d1117;

    border-radius:15px;

    overflow:hidden;

    border:1px solid rgba(255,255,255,.12);

    box-shadow:0 20px 50px rgba(0,0,0,.4);

}

.terminal-header{

    background:#161b22;

    padding:15px;

    display:flex;

    gap:10px;

}

.red,
.yellow,
.green{

    width:14px;
    height:14px;

    border-radius:50%;

}

.red{background:#ff5f57;}
.yellow{background:#ffbd2e;}
.green{background:#28ca42;}

.terminal-body{

    padding:30px;

    font-family:Consolas, monospace;

    color:#e6edf3;

    line-height:2;

    font-size:18px;

}

.prompt{

    color:#38bdf8;

    margin-right:10px;

}