:root{
  --bg:#0f172a;
  --card:#1e293b;
  --primary:#38bdf8;
  --secondary:#94a3b8;
  --text:#ffffff;
  --border:#334155;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--bg);
  color:var(--text);
  font-family:Arial, Helvetica, sans-serif;
}

section{
  padding:100px 10%;
}