.timeline{
    padding:100px 10%;
    background:var(--bg);
}

.timeline h2{
    text-align:center;
    font-size:45px;
    color:var(--primary);
    margin-bottom:70px;
}


.timeline-container{
    max-width:900px;
    margin:auto;
    position:relative;
}


.timeline-container::before{

    content:"";
    position:absolute;
    left:50%;
    top:0;
    width:3px;
    height:100%;
    background:var(--primary);
    transform:translateX(-50%);

}


.timeline-item{

    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:50px;
    position:relative;

}


.timeline-icon{

    position: absolute;

    left: 50%;

    transform: translateX(-50%);

    width: 70px;
    height: 70px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #38bdf8;

    color: white;

    font-size: 30px;

    z-index: 10;
}


.timeline-card{

    width:45%;
    background:var(--card);

    padding:25px;

    border-radius:15px;

    border:1px solid rgba(255,255,255,.1);

}


.timeline-item:nth-child(odd)
.timeline-card{

    margin-right:auto;

}


.timeline-item:nth-child(even)
.timeline-card{

    margin-left:auto;

}


.timeline-card span{

    color:var(--primary);
    font-weight:bold;
    font-size:20px;

}


.timeline-card h3{

    margin:15px 0;

}


.timeline-card p{

    color:var(--secondary);
    line-height:1.7;

}


@media(max-width:768px){

.timeline-container::before{

left:20px;

}


.timeline-icon{

left:20px;

}


.timeline-card{

width:80%;
margin-left:70px!important;

}

}